<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Student Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit">
            Add Student
          </button>
                </div>
            </div>
        </div>
    </nav>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Room</th>
                <th>Mobile</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index" style="cursor: pointer">
                <td [routerLink]="['/student', user.name]">{{ i + 1 }}</td>
                <td [routerLink]="['/student', user.name]">{{ user.name }}</td>
                <td [routerLink]="['/student', user.name]">{{ user.room }}</td>
                <td [routerLink]="['/student', user.name]">{{ user.mobile }}</td>
                <td [routerLink]="['/student', user.name]">
                    {{ user.description.substring(0, 15) }}...
                </td>
                <td>
                    <input type="button" [routerLink]="['/student/edit', user.name]" value="Edit" class="btn btn-success me-2" />
                    <input type="button" (click)="DeleteStudent(user.name)" value="Delete" class="btn btn-danger" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Student Registration
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="studentValue">
                    <div class="mb-3">
                        <label for="txtName" class="form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="txtName" placeholder="Enter your name" />
                    </div>
                    <div class="mb-3">
                        <label for="txtRoom" class="form-label">Room</label>
                        <input type="text" formControlName="room" class="form-control" id="txtRoom" placeholder="Enter your room" />
                    </div>
                    <div class="mb-3">
                        <label for="txtMobile" class="form-label">Mobile</label>
                        <input type="text" formControlName="mobile" class="form-control" id="txtMobile" placeholder="Enter your mobile number" />
                    </div>
                    <div class="mb-3">
                        <label for="txtDescription" class="form-label">Description</label>
                        <textarea rows="4" cols="50" formControlName="description" class="form-control" placeholder="Enter your Description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
                <button type="button" (click)="AddStudent()" class="btn btn-primary" data-bs-dismiss="modal">
          Save
        </button>
            </div>
        </div>
    </div>
</div>